.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 24px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.text {
  font-family: 'InterSemiBold' ,'Inter', sans-serif;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}

.cardGridLayout {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
  width: 100%;
}

.cardGridLayout > :nth-child(1) {
  grid-row: span 2;
}

.cardGridLayout > :nth-child(2),
.cardGridLayout > :nth-child(3) {
  grid-column: 2;
}

.cardGridLayout > :nth-child(4),
.cardGridLayout > :nth-child(5) {
  grid-column: 3;
}

/* css of icons and animation inside the cards */
.icon1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none;
}
.card:hover .icon1 {
  animation: floatUpDown 2s ease-in-out infinite;
}

@keyframes floatUpDown {
  0%   { transform: translate(-50%, -50%); }
  50%  { transform: translate(-50%, -55%); }
  100% { transform: translate(-50%, -50%); }
}

.icon2 {
  position: absolute;
  top: 50%;
  right: -5%;
  width: 60%;
  height: auto;
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
}

.card:hover .icon2 {
  animation: rotateZoomClockwise 0.5s ease-in-out forwards;
}

@keyframes rotateZoomClockwise {
  0% {
    transform: translateY(-50%) scale(1) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) scale(1.1) rotate(10deg);
  }
}

.icon3 {
  position: absolute;
  top: 75%;
  left: 60%;
  width: 70%;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none;
}

.card:hover .icon3 {
  animation: liftRotate 0.5s ease-in-out forwards;
}

@keyframes liftRotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -60%) rotate(-10deg);
  }
}

.icon4 {
  position: absolute;
  top: 45%;
  right: 0;
  transform: translateY(-50%);
  width: 68%;
  height: auto;
  z-index: 0;
  pointer-events: none;
}

.card:hover .icon4 {
  animation: zoomEffect 0.5s ease-in-out forwards;
}

@keyframes zoomEffect {
  0% {
    transform: translateY(-50%) scale(1);
  }
  100% {
    transform: translateY(-50%) scale(1.2);
  }
}

.icon5 {
  position: absolute;
  top: 45%;
  right: -12%;
  transform: translateY(-50%);
  width: 70%;
  height: auto;
  z-index: 0;
  pointer-events: none;
  transition: filter 0.3s ease;
}

.card:hover .icon5 {
  animation: moveLeftWithShadow 0.5s ease-in-out forwards;
}

@keyframes moveLeftWithShadow {
  0% {
    transform: translateY(-50%) translateX(0);
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
  }
  100% {
    transform: translateY(-50%) translateX(-15px);
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.3));
  }
}