.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  background-image: url('../assets/landing-bg.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  position: absolute;
  z-index: 10;
  color: white;
}

.left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  max-width: 100px;
  height: auto;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  transition: opacity 0.3s;
}

.link:hover {
  opacity: 0.8;
}

.cta {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-radius: 999px;
  font-size: 16px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.cta:hover {
  background-color: #eaeaea;
}

/* Hide cta on mobile */
.desktopOnly {
  display: block;
}

@media (max-width: 767px) {
  .desktopOnly {
    display: none;
  }
}

.menuIcon {
  display: none;
  width: 32px;
  height: 24px;
  cursor: pointer;
  margin-left: 20px;
  filter: brightness(0) invert(1);
}

/* Mobile full-screen menu */
.fullScreenMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0e1014;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
  gap: 30px;
  padding: 20px;
}

.fullScreenMenu a {
  font-size: 24px;
  color: #c7c7c7;
  text-decoration: none;
}

.githubButton {
  background-color: white;
  color: black;
  border-radius: 999px;
  padding: 12px 24px;
  font-weight: bold;
}

.buildButton {
  background-color: #2e323a;
  color: white;
  border-radius: 999px;
  padding: 12px 24px;
  font-weight: bold;
}

/* Close icon in mobile menu */
.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: auto;
  cursor: pointer;
  filter: brightness(0.6) invert(1);
}

/* Show burger icon on mobile */
@media (max-width: 767px) {
  .links {
    display: none;
  }

  .menuIcon {
    display: block;
  }
}
